<ng-container *ngIf="product$ | async as product; else loading">
  <div class="product-details">
    <div class="card-detail">
      <div class="size-image">
        <img class="image-separated" src="https://s3.amazonaws.com/kitwiissy/{{product.image}}">
      </div>
      <div class="card-header">
        <h1 class="style-header">{{ product.name}}</h1>
        <p>{{ product.price }}</p>
        <p>{{ product.description }}</p>
        <button class="button-card" mat-raised-button (click)="addToCart(product)">Agregar al carrito</button>
      </div>
    </div>
    <a [routerLink]="['/']" class="add-detail">
      <i class="fas fa-chevron-circle-left fa-4x"></i>
    </a>
  </div>
</ng-container>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>