@mixin space-span {
  flex: 1 1 auto;
}

@mixin none-display {
  display: none;
}

@mixin top-logo {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 30px;
  height: auto;
  cursor: pointer;
}

@mixin header-responsive {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 35px;
  cursor: pointer;
}

@mixin media-card {
  min-width: 450px;
  min-height: 290px;
}

@mixin add-icon-style {
  position: fixed;
  padding: 0px 0px 5px 5px;
  color: $colorSearch;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

@mixin card-style-product {
  border-radius: 16px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
  &:hover {
    box-shadow: 5px 12px 20px rgba(36,37,38,0.13);
  }
  &:active {
    box-shadow: 5px 12px 20px rgba(36,37,38,0);
  }
}

@mixin card-style-product-image {
  width: 40%;
  align-items: center;
  margin: 0 auto;
}