<div class="footer-view">
    <footer class="footer-distributed">
  
      <div class="footer-left">
        <h3 class="center-text">{{title}}</h3>
        <div class="m-linkitem">
        <mat-list>
          <mat-list-item *ngFor="let menu of option">
            <a routerLink="{{menu.url}}">{{menu.name}}</a>
          </mat-list-item>
        </mat-list>
      </div>
      </div>
  
      <div class="footer-center">
        <h3 class="center-text">{{subTitle}}</h3>
        <div class="m-linkitem">
          <mat-list>
            <mat-list-item *ngFor="let menuCenter of optionCenter">
              <a routerLink="{{menuCenter.url}}">{{ menuCenter.title }}</a>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
  
      <div class="footer-right">
  
        <div class="footer-company-about">
          <p>{{download}}</p>
          <div class="separate-button">
            <button class="button-store" mat-flat-button><i class="space-icon fab fa-google-play fa-lg"></i>{{ playStore }}</button>
          </div>
          <div>
            <button class="button-store" mat-flat-button><i class="space-icon fab fa-apple fa-lg"></i>{{ appStore }}</button>
          </div>
        </div>
  
        <div class="footer-icons">
          <h4>{{ subscribe }}</h4>
          <a class="instagram" href="#" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
          <a class="facebook" href="#" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>
          <a class="twitter" href="#" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
          <a class="linkedin" href="#" target="_blank"><i
              class="fab fa-linkedin-in fa-lg"></i></a>
        </div>
  
      </div>
      <div class="market-center">
        <h5>De LATAM con <i class="fas fa-heart fa-lg"></i> para el mundo <br><br>Market <i class="fas fa-copyright fa-lg"></i> 2019</h5>
      </div>
    </footer>
  </div>