<ng-container *ngIf="products.length > 0">
  <div class="custom-pipe">
    <label class="custom-select">Filtrar por:
      <select [(ngModel)]="selectedBoolean">
        <option disabled [ngValue]="undefined" selected>--</option>
        <option [ngValue]="true">Disponible</option>
        <option [ngValue]="false">No disponible</option>
        <option value="mayor">mayor cantidad</option>
        <option value="minor">menor cantidad</option>
      </select>
    </label>
  </div>
  <div class="card-container">
    <div class="card"
      *ngFor="let product of products | searchAvailable: selectedBoolean | paginate: { itemsPerPage: 10, currentPage: p }">
      <div class="size-image" [routerLink]="['/products/detail', product.id]">
        <img class="image-separated" src="https://s3.amazonaws.com/kitwiissy/{{product.image}}">
      </div>
      <div class="div-separated" [routerLink]="['/products/detail', product.id]">
        <a class="font-parrafe">
          {{ product.name }}
        </a>
        <p class="parrafe-style">{{ product.price }}</p>
        <p class="description-style">{{ product.description }}</p>
      </div>
      <button mat-raised-button class="button" (click)="addToCart(product)">Agregar</button>
    </div>
  </div>
  <div class="container" *ngIf="products.length === 0">
    <app-products-not-found [title]="messageTitle" [description]="messageDescription"></app-products-not-found>
  </div>
  <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
</ng-container>